<div class="d-flex align-items-center">
  <h1>記事編集</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', blogs_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<%= render 'form' %>
